.register-top {
  width: 100%;
  height: 300px;
  background-image: url('../../assets/simon-abrams-286276-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h2 {
  text-align: center;
}
